{% extends 'base_content.html' %}
{% load custom_filters %}
{% block content %}
    <div class="container">
        <h2 class="mb-4">请输入新历生日</h2>
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender"  id="male" value="male" {% if is_male %}checked {% endif %}>
                <label class="form-check-label" for="male">
                    男
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="female" value="female" {% if not is_male %}checked {% endif %}>
                <label class="form-check-label" for="female">
                    女
                </label>
            </div>
            <div class="col-md-2">
                <label for="{{ form.year.id_for_label }}" class="form-label">年:</label>
                {{ form.year }}
            </div>
            <div class="col-md-2">
                <label for="{{ form.month.id_for_label }}" class="form-label">月:</label>
                {{ form.month }}
            </div>
            <div class="col-md-2">
                <label for="{{ form.day.id_for_label }}" class="form-label">日:</label>
                {{ form.day }}
            </div>
            <div class="col-md-2">
                <label for="{{ form.hour.id_for_label }}" class="form-label">时:</label>
                {{ form.hour }}
            </div>
            <div class="col-md-2">
                <label for="{{ form.minute.id_for_label }}" class="form-label">分:</label>
                {{ form.minute }}
            </div>
            <div class="col-md-2">流年：
                <select name="liunian" id="liunian">
                    {% for year in years %}
                        <option value="{{ year }}"
                                {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary mt-4">查看</button>
            </div>
        </form>
    </div>
    {% if bazi %}
        <div class="container mt-5">
            <table class="table">
                <h3>八字</h3>
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">时柱</th>
                    <th scope="col">日柱</th>
                    <th scope="col">月柱</th>
                    <th scope="col">年柱</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">天干</th>
                    <td>{{ bazi.getTimeGan }}</td>
                    <td>{{ bazi.getDayGan }}</td>
                    <td>{{ bazi.getMonthGan }}</td>
                    <td>{{ bazi.getYearGan }}</td>
                </tr>
                <tr>
                    <th scope="row">地支</th>
                    <td>{{ bazi.getTimeZhi }}</td>
                    <td>{{ bazi.getDayZhi }}</td>
                    <td>{{ bazi.getMonthZhi }}</td>
                    <td>{{ bazi.getYearZhi }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container mt-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">详细计算
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">八字分析（在弄了！）
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                            type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">开发中
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                     tabindex="0">
                    <div class="container mt-5">
                        <h3>旺相</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">五行</th>
                                <th scope="col">旺相</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for wx, wangxiang in wang_xiang.items %}
                                <tr>
                                    <td>{{ wx }}</td>
                                    <td>{{ wangxiang }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="container mt-5">
                        <h3>年柱计算</h3>
                        {% include 'partials/bazi_table.html' with gan=bazi.getYearGan zhi=bazi.getYearZhi gan_value=values.0.0 zhi_value=values.0.1 hidden_gans=hidden_gans.0 yinyang=yinyang.0 wuxing=wuxing.0 shishen=shishen.0 wx_value=wang_xiang_values.0 gl_value=gan_liang_values.0 %}
                    </div>

                    <div class="container mt-5">
                        <h3>月柱计算</h3>
                        {% include 'partials/bazi_table.html' with gan=bazi.getMonthGan zhi=bazi.getMonthZhi gan_value=values.1.0 zhi_value=values.1.1 hidden_gans=hidden_gans.1 yinyang=yinyang.1 wuxing=wuxing.1 shishen=shishen.1 wx_value=wang_xiang_values.1 gl_value=gan_liang_values.1 %}
                    </div>

                    <div class="container mt-5">
                        <h3>日柱计算</h3>
                        {% include 'partials/bazi_table.html' with gan=bazi.getDayGan zhi=bazi.getDayZhi gan_value=values.2.0 zhi_value=values.2.1 hidden_gans=hidden_gans.2 yinyang=yinyang.2 wuxing=wuxing.2 shishen=shishen.2 wx_value=wang_xiang_values.2 gl_value=gan_liang_values.2 %}
                    </div>

                    <div class="container mt-5">
                        <h3>时柱计算</h3>
                        {% include 'partials/bazi_table.html' with gan=bazi.getTimeGan zhi=bazi.getTimeZhi gan_value=values.3.0 zhi_value=values.3.1 hidden_gans=hidden_gans.3 yinyang=yinyang.3 wuxing=wuxing.3 shishen=shishen.3 wx_value=wang_xiang_values.3 gl_value=gan_liang_values.3 %}
                    </div>
                    <div class="container mt-5">
                        <h3>五行值</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">五行</th>
                                <th scope="col">值</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for wx, value in wuxing_value.items %}
                                <tr>
                                    <td>{{ wx }}</td>
                                    <td>{{ value|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="container mt-5">
                        <h3>生耗值</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">值</th>
                                <th scope="col">占比</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td> 生总值</td>
                                <td> {{ sheng_hao.0|floatformat:2 }}</td>
                                <td> {{ sheng_hao_percentage.0|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>耗总值</td>
                                <td> {{ sheng_hao.1|floatformat:2 }}</td>
                                <td> {{ sheng_hao_percentage.1|floatformat:2 }}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                 tabindex="0">
                <ul>
                    <li>主属性: <strong>{{ main_wuxing }} {% if sheng_hao.0 > sheng_hao.1 %} 身强 {% else %} 身弱 {% endif %}</strong></li>
                    <li>生肖：<strong>{{ shengxiao }}</strong></li>
                    <li>配偶之性情：{{ partner_analyst }}</li>
                    <li>自身性格：{{ personality }}</li>
                    <li>{{ current_year }}流年分析: {{ liunian_analysis|safe }} </li>
                </ul>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                     tabindex="0">
                    ...
                </div>
                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab"
                     tabindex="0">...
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}