{% extends 'intro.html' %}
{% block introContent %}
    <h2>地支</h2>
    <p>
        地支，或称“十二地支”，和天干一样是中国古代文字計序符號，主用于计算时日。
    </p>
    <p>
        下面是十二个地支对应的时辰：
    </p>
    <ul>
        <li>早子 (Zǐ) - 00:00-00:59</li>
        <li>丑 (Chǒu) - 01:00-02:59</li>
        <li>寅 (Yín) - 03:00-04:59</li>
        <li>卯 (Mǎo) - 05:00-06:59</li>
        <li>辰 (Chén) - 07:00-08:59</li>
        <li>巳 (Sì) - 09:00-10:59</li>
        <li>午 (Wǔ) - 11:00-12:59</li>
        <li>未 (Wèi) - 13:00-14:59</li>
        <li>申 (Shēn) - 15:00-16:59</li>
        <li>酉 (Yǒu) - 17:00-18:59</li>
        <li>戌 (Xū) - 19:00-20:59</li>
        <li>亥 (Hài) - 21:00-22:59</li>
        <li>夜子 (Zǐ) - 23:00-23:59</li>
    </ul>
    <p>
        地支也有对应的五行与阴阳：
    </p>
    <ul>
        <li>子 - 阳水</li>
        <li>丑 - 阴土</li>
        <li>寅 - 阳木</li>
        <li>卯 - 阴木</li>
        <li>辰 - 阳土</li>
        <li>巳 - 阴火</li>
        <li>午 - 阳火</li>
        <li>未 - 阴土</li>
        <li>申 - 阳金</li>
        <li>酉 - 阴金</li>
        <li>戌 - 阳土</li>
        <li>亥 - 阴水</li>
    </ul>
    <p>
        地支与天干是直接对应的，就好像一颗大树，枝叶是从树干分出去的一样。
    <p>
        从属性可以看出寅对应着甲，卯对应着乙，那我们便可以依照着找回地支所藏的天干，但一个地支不一定只藏着一个天干。
    </p>
    <p>
        我们回顾一下<a href="{% url 'yinyang' %}">阴阳</a>，阳：能量，阴：形成。
        所以阳性（火土除外）的地支，除了对应着的五行还会含有一些所生之五行的属性。
        阴性（火土除外）的地支，天干都属阴已经具备形体所以只藏一个天干。
        火跟土为什么特别是因为土的特性就是包容，有“合”的力量，而火生土。
        有关土的地支的问题我有时间会更新在网站上的，如急迫请联系我。
    </p>
    <p>
        以下是地支所藏：（排序是主气，中气，余气）
    </p>
    <ul>
        <li>子 - 癸</li>
        <li>丑 - 己 , 癸 , 辛</li>
        <li>寅 - 甲 , 丙 , 戊</li>
        <li>卯 - 乙</li>
        <li>辰 - 戊 , 乙 , 癸</li>
        <li>巳 - 丙 , 庚 , 戊</li>
        <li>午 - 丁 , 己</li>
        <li>未 - 己 , 丁 , 乙</li>
        <li>申 - 庚 , 壬 , 戊</li>
        <li>酉 - 辛</li>
        <li>戌 - 戊 , 辛 ,丁</li>
        <li>亥 - 壬 , 甲</li>
    </ul>
    <p>
        地支也对应着十二生肖：
    </p>
    <ul>
        <li>子 - 鼠</li>
        <li>丑 - 牛</li>
        <li>寅 - 虎</li>
        <li>卯 - 兔</li>
        <li>辰 - 龙</li>
        <li>巳 - 蛇</li>
        <li>午 - 马</li>
        <li>未 - 羊</li>
        <li>申 - 猴</li>
        <li>酉 - 鸡</li>
        <li>戌 - 犬</li>
        <li>亥 - 猪</li>
    </ul>
    <p>
        地支也对应着十二节：
    </p>
    <ul>
        <li>寅 - 立春</li>
        <li>卯 - 惊蛰</li>
        <li>辰 - 清明</li>
        <li>巳 - 立夏</li>
        <li>午 - 芒种</li>
        <li>未 - 小暑</li>
        <li>申 - 立秋</li>
        <li>酉 - 白露</li>
        <li>戌 - 寒露</li>
        <li>亥 - 立冬</li>
        <li>子 - 大雪</li>
        <li>丑 - 小寒</li>
    </ul>
    <p>
        地支之间会相冲：
    </p>
    <ul>
        <li>子午相冲</li>
        <li>丑未相冲</li>
        <li>寅申相冲</li>
        <li>卯酉相冲</li>
        <li>辰戌相冲</li>
        <li>巳亥相冲</li>
    </ul>
{% endblock %}





