{% extends 'intro.html' %}
{% block introContent %}
    <h2>干支</h2>
    <p>
        干支是十干与十二支的合称，由两者经一定的组合方式搭配成六十对，为一周期，循环往复，称为一甲子或花甲之年。
        古代中国用以记录年、月、日子及时期。
    </p>
    <h3>干支的例子</h3>
    <p>
        干支的组合是按照特定的顺序进行的。例如：
    </p>
    <ul>
        <li>甲子</li>
        <li>乙丑</li>
        <li>丙寅</li>
        <li>丁卯</li>
        <li>戊辰</li>
        <li>...</li>
        <!-- ... -->
        <li>癸亥</li>
    </ul>
    <p>
        在这60个组合完成后，会重新回到“甲子”开始新的一个循环。这种组合方式确保了每一个天干和地支都能够与其他的天干和地支配对。
    </p>
    <p>
        在古代，人们使用干支来记录日期，例如：“乙丑年、己卯月、庚申日”。这种表示方法在一些传统的日历和农历中仍然可以看到。
    </p>
{% endblock %}