{% extends 'base_content.html' %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5 lang" data-lang="zh">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">致访客</h1>
                <p class="lead text-body-secondary">
                    欢迎访问我的网站！本人偶得机会学习一些风水五行皮毛。通过这个平台，我希望分享所学，帮助大家了解风水堪舆和命理的知识。如有错误或建议，请联系我，我会尽快调整。
                <p>
            </div>
        </div>
        <div class="row py-lg-5 lang" data-lang="en" style="display: none;">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">To Visitors</h1>
                <p class="lead text-body-secondary">
                    Welcome to my website! I've had the fortunate opportunity to delve into the basics of Feng Shui and
                    the Five Elements. Through this platform, I aim to share my learnings and help individuals
                    understand the knowledge of geomancy and fengshui. If you spot any inaccuracies or have
                    suggestions, please reach out to me, and I'll make adjustments promptly.
                <p>
                <h2>Still working on the english version as it takes ages to translate... will use AI to help me out</h2>
            </div>
        </div>
    </section>
{% endblock %}
