{% extends 'intro.html' %}
{% block introContent %}
    <h2>八字</h2>
    <p>
        所谓八字，就是年、月、日、时辰的干支，得到的结果为8个字。
    </p>
    {% load static %}
    <img src="{% static 'image/bazi.png' %}" alt="bazi" width="1000">
    <p>
        注意：八字的年干支，必须以立春节气交接的时刻来准确划分；月干支也必须以当月节交接的时刻来准确划分。
        我学之流派需使用当地太阳时。
    </p>
    <p>
        时辰天干，以日的天干和时辰的地支，也称日上起时算。
        月份天干，以年的天干和月份的地支，也称年上起月算。
    </p>
    <h3>八字与命理</h3>
    <p>八字是一套相当严谨的逻辑及因果推演的工具，背后的系统非常庞大，包含星象学、气候学、阴阳学、五行学、东方哲学(包含但不限于老、庄、孔、孟)及人性，

        而中文字为表意文字, 同一字即使本义不变，但于不同时代的意义却不尽相同，需佐以当时社会文化背景及价值观而变动，故相当不易学习与传承。


        因此于明、清两代衍伸出众多的流派，如：调侯、格局、神煞等。不同流派有不同的原始推演过程及时空背景，故不同流派之间的推演结果不可混用，否则容易产生矛盾的结果，此为初学者的误区之一；但对于八字有一定理解程度的学者而言，是能相互参考的。
        (已属八字命学的范畴。特此稍作解释供一般大众区分)

        简单来说，八字起源于地球大自然的流转，所谓的八字是一套归纳、总结人与大自然之间关系的工具，是一种表现形式。在对照人的出生时间及地区后，以年、月、日、时柱，每柱天干、地支二字，一共八字表示之。进行解读则为八字命学的范畴。</p>
{% endblock %}