{% extends 'intro.html' %}
{% block introContent %}
    <h2>天干简介</h2>
    <p>
        天干，或称“十天干”，是中国古代时间计算和命理学的重要组成部分。可以说是古人的科学符号，它们把五行分了阴阳☯。
    </p>
    <p>
        下面是十个天干：
    </p>
    <ul>
        <li>甲 (jiǎ) - 阳木</li>
        <li>乙 (yǐ) - 阴木</li>
        <li>丙 (bǐng) - 阳火</li>
        <li>丁 (dīng) - 阴火</li>
        <li>戊 (wù) - 阳土</li>
        <li>己 (jǐ) - 阴土</li>
        <li>庚 (gēng) - 阳金</li>
        <li>辛 (xīn) - 阴金</li>
        <li>壬 (rén) - 阳水</li>
        <li>癸 (guǐ) - 阴水</li>
    </ul>
    <p>你问什么是阳木阴木？请移步<a href="{% url 'yinyang' %}">阴阳</a></p>
    <p>
        天干是风水学中最重要的符号之一，与地支结合便成了我们所说的干支，干支便能组成我们常提到的八字。
    </p>
{% endblock %}





