{% extends 'intro.html' %}
{% block introContent %}
    <h2>五行简介</h2>
    <p>
        五行，常被翻译为“五元素”，是中国古代哲学和文化的核心概念，代表了能量转化的不同阶段或状态。这五个元素包括：木、火、土、金和水。
    </p>
    <p>
        每个元素都与特定的属性、现象和生物过程相对应。五行之间存在相生和相克的关系，这种关系描述了它们之间的互动和平衡。
    </p>
    <ul>
        <li><strong>木</strong>：代表生长和扩张。它与春季和早晨相对应。</li>
        <li><strong>火</strong>：代表热情和动力。它与夏季和中午相对应。</li>
        <li><strong>土</strong>：代表稳定和中心。它与长夏和黄昏相对应。</li>
        <li><strong>金</strong>：代表收割和收缩。它与秋季和傍晚相对应。</li>
        <li><strong>水</strong>：代表冷静和智慧。它与冬季和夜晚相对应。</li>
    </ul>
    <h3>五行的生克关系</h3>
    <p>
        五行的“生克”描述了五行之间的相互作用。"生" 指的是生产或增强，而 "克" 指的是克制或削弱。这些关系如下：
    </p>
    <h4>相生关系：</h4>
    <ul>
        <li>木生火</li>
        <li>火生土</li>
        <li>土生金</li>
        <li>金生水</li>
        <li>水生木</li>
    </ul>
    <h4>相克关系：</h4>
    <ul>
        <li>木克土</li>
        <li>土克水</li>
        <li>水克火</li>
        <li>火克金</li>
        <li>金克木</li>
    </ul>
    <p>
        在实际应用中，五行的生克关系被用于多个领域，如医学、风水和命理学，以解释和平衡各种现象和能量。
    </p>
{% endblock %}





