<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 lang" data-lang="zh">还没想好名字</span>
            <span class="fs-4 lang" data-lang="en" style="display: none;">IDK yet</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item lang" data-lang="en" style="display: none;"><a href="" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item lang" data-lang="en" style="display: none;"><a href="#" class="nav-link">Bazi</a></li>
            <li class="nav-item lang" data-lang="en" style="display: none;"><a href="#" class="nav-link">Calendar</a></li>
            <li class="nav-item lang" data-lang="zh" ><a href="" class="nav-link active" aria-current="page">首页</a></li>
            <li class="nav-item lang" data-lang="zh"><a href="#" class="nav-link">八字</a></li>
            <li class="nav-item lang" data-lang="zh"><a href="#" class="nav-link">日历</a></li>
            <li class="nav-item"><a href="#" class="nav-link" data-lang-switch="en">English</a></li>
            <li class="nav-item"><a href="#" class="nav-link" data-lang-switch="zh">中文</a></li>
        </ul>

    </header>
</div>